<% include ./partials/header %>
<div class="ui main text container" >
    <div class="ui huge header">A list of my blogs, yo.</div>
        <div class="ui attached top segment">
            <div class="ui divided items">
                <% blogs.forEach((blog) => { %>
                    <a href="/blogs/<%= blog._id %>"><h2 class="ui header"><%= blog.title%></h2></a>
                    <img class="ui image" src="<%= blog.image %>" alt="">
                    <div><%= blog.created.toDateString() %></div>
                    <p><%= blog.body.substring(0, 80) %>...</p>
                    <a class ="extension" href="/blogs/<%= blog._id %>">Read More...</a>
                    <div class="ui fitted divider"></div>
                <% }); %>
                  </div>
            </div>
        </div>
</div>

    <% include ./partials/footer %>